## Create a Tuple

In [1]:
thistuple = ("apple", "banana", "cherry")

In [2]:
print(thistuple)

('apple', 'banana', 'cherry')

Tuples are unchangeable, meaning that we cannot change,
add or remove items after the tuple has been created.

## Allow Duplicates

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")

In [4]:
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## Length of Tuple

In [5]:
print(len(thistuple))

5

## Datatype of Tuple

In [6]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3, 4, 8, 5)
tuple3 = (True, False, False)

A tuple with strings, integers and boolean values:

In [7]:
tuple4 = ("abc", 34, True, 40, "male")

In [8]:
print(type(tuple1))

<class 'tuple'>

In [9]:
print(type(tuple4))

<class 'tuple'>

## Access Tuple Items

In [10]:
print(thistuple[1]) #Access from first item

banana

In [11]:
print(thistuple[-1]) #Access from last item

cherry

In [12]:
print(thistuple[-2])

apple

In [13]:
print(tuple2[2:5])

(7, 9, 3)

In [14]:
print(tuple2[:4]) #Print first 4 element of tuple or upto index 3

(1, 5, 7, 9)

In [15]:
print(tuple2[2:]) #Print element index 2 to end

(7, 9, 3, 4, 8, 5)

In [16]:
#eturns the items from index -4 (included) to index -1 (excluded)
print(tuple2[-4:-1])

(3, 4, 8)

## change the tuple value


1. convert Tuple into List
2. change in list
3.convert List into Tuple

In [17]:
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [18]:
thislist = list(thistuple)

In [19]:
thislist[1]="mango"

In [20]:
thistuple = tuple(thislist)

In [21]:
print(thistuple)

('apple', 'mango', 'cherry', 'apple', 'cherry')

## Unpacking Tuple

In [22]:
fruits = ("apple", "banana", "cherry")

In [23]:
(green, yellow, red) = fruits

In [24]:
print(green +"\n"+ yellow+"\n" + red)

apple
banana
cherry

## join Two Tuple

In [25]:
tuple = tuple1 + tuple2

In [26]:
print(tuple)

('apple', 'banana', 'cherry', 1, 5, 7, 9, 3, 4, 8, 5)

In [27]:
tuple.count(5)

2

In [28]:
tuple.index(5)

4